Checks: 'bugprone-*,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-type-vararg'
HeaderFilterRegex: 'lib/.*'
FormatStyle:     google
WarningsAsErrors: true
